body {
  background-color: #34495e;
  margin: 0; padding: 0;
}

html {
  background-color: #34495e;
}

footer {
  height: 36px;
  border-radius: 0;
  margin-bottom: 0;
}

#bottom-header {
  margin-top: -25px;
  background-color: #e74c3c;
}

#colorwrapper {
  height: 100%;
  background-color: #34495e;
}

#apps {
  margin-top : 50px;
}

#footing {
  background-color: #34495e;
}

#footing p{
  border-radius: 2px;
  color: black;
  background-color: #fff;
  padding-left: 25px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 50px;
  line-height: 50px;
  margin: 0;
}

#results {
  margin-top : 50px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  margin-bottom: 30px;
}

#copy {
       cursor: pointer;
}